.navbar {
}

ul {
  list-style-type: none;
  position: sticky;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-image: linear-gradient(
    109.6deg,
    rgba(3, 131, 115, 1) 21.9%,
    rgba(0, 204, 142, 1) 80.9%
  );
}

li {
  float: left;
  border-right: 1px solid blue;
}

li a {
  display: block;
  color: blue;
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
.active {
  background-color: gray;
  color: white;
}
li a:hover {
  background-color: orange;
  color: white;
}
