/* .app__navbar:root {
    --primaryColor: #D60000;
} */

.dropShadow {
  /* filter: drop-shadow(0 7px 12px rgba(0, 0, 0, 0.25)); */
  filter: var(--dropShadow);
}

.linksText {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

/* .navbar__links_container {
    align-items: center;
    margin-right: 5rem;
}

.navbar__links_container a {
    margin: 0.8rem;
} */
.test {
  /* display: inline-block; */
  position: relative;

  /* color: var(--primaryColor); */
}

.text__underlined {
  position: relative;
}

.text__underlined::after {
  /* transform: scaleX(1); */
  bottom: -7px;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* bottom: -0.5px; */
  content: "";
  position: absolute;
  /* bottom: 0;
    left: 0; */
  width: 100%;
  height: 2px;
  /* transform-origin: bottom right; */
  background: var(--primaryColor);
  transition: 0.2s;
}

.test::after {
  transform: scaleX(0);
  bottom: -7px;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* bottom: -0.5px; */
  content: "";
  position: absolute;
  /* bottom: 0;
    left: 0; */
  width: 100%;
  height: 2px;
  /* transform-origin: bottom right; */
  background: var(--primaryColor);
  transition: 0.2s;
}

.test:hover::after {
  transform: scaleX(1);
}
