html {
  /* --color-background: hsl(216, 8%, 12%); */
  --color-blue: hsl(208, 100%, 50%);
  --color-gray: hsl(210, 3%, 25%);
  --color-white: white;
  --border-radius: 5px;
  background-color: var(--color-background);
  color: var(--color-white);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
